{% extends "body.html" %}

{% block content %}
    <!-- Content -->
    <div class="container" role="main">
        <div class="jumbotron">
            <h3 style="margin: 0px; padding: 0px;">Create Project</h3>
        </div>
        <div class="panel panel-default">
            <form method="post" enctype="multipart/form-data" action="/project/{{ form }}?project={{ project.name }}" class="panel-body validate">
                {% csrf_token %} <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
                <script>tinymce.init({ selector:'textarea' });</script>
                <label for="name">Name</label>
                <h6 style="color:red">{{ error }}</h6>
                <input type="text" name="name" id="name" placeholder="Name" value="{{ project.name }}" class="form-control"
                       data-bvalidator="required" data-bvalidator-msg="Name Required">
                <br>
                <label for="language">Programming Language</label>
                <input type="text" name="language" id="language" value="{{ project.language }}" placeholder="Python"
                       class="form-control" data-bvalidator="required" data-bvalidator-msg="Language Required">
                <br>
                <label for="years">Years of Experience</label>
                <input type="number" name="years" id="years" placeholder="2" value="{{ project.years }}"
                       class="form-control">
                <br>
                <label for="specialty">Speciality</label>
                <input type="text" name="specialty" id="specialty" placeholder="Mobile Dev" value="{{ project.specialty }}" class="form-control">
                <br>
                <label for="description">Project Description</label>
                <textarea name="description" id="description" placeholder="Description" class="form-control">{{ project.description }}</textarea>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}