{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Years Required</th>
                    <th>Technologies wanted</th>
                    <th>Match score</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="/project?name={{ project.name }}">{{ project.name }}</a></td>
                        <td>{{ project.years }}</td>
                        <td>{{ project.language }}</td>
                        <td>{{ project.score }}</td>
                        <td><a href="/group/marknewproject?name={{ group }}&project={{ project.name }}" class="btn btn-default">Match with This Project</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}